<a href="https://colab.research.google.com/github/santiago-romo99/data_base_class/blob/main/Parcial_1_Santiago_y_Sebasti%C3%A1n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Punto 1
import numpy as np

In [ ]:
# 1
numeros = np.arange(1, 101)
multiplos_de_7 = numeros[numeros % 7 == 0]
print("Múltiplos de 7:", multiplos_de_7)

Múltiplos de 7: [ 7 14 21 28 35 42 49 56 63 70 77 84 91 98]

In [ ]:
# 2
matriz = np.random.randint(10, 51, size=(4, 4))
matriz_modificada = np.where(matriz % 2 != 0, -1, matriz)
print(matriz_modificada)

[[10 -1 -1 30]
 [14 10 16 -1]
 [42 30 28 38]
 [-1 -1 -1 -1]]

In [ ]:
#3
matriz = np.random.rand(5, 5)
matriz_normal = (matriz- matriz.min()) / (matriz.max() - matriz.min())
print("Matriz 5x5 con valores entre 0 y 1:")
print(matriz_normal)
suma_columnas = np.sum(matriz_normal, axis=0)
print("\nSuma por columnas:")
print(suma_columnas)

Matriz 5x5 con valores entre 0 y 1:
[[0.25290026 0.55531537 0.10340291 0.         0.6303616 ]
 [0.33433067 0.26055044 0.37086392 0.1437565  0.18405334]
 [0.53894831 0.19119321 0.61563069 0.57743303 0.25663366]
 [0.74218378 0.24146817 0.31863467 0.72726509 0.01012669]
 [1.         0.12355379 0.13680916 0.33938414 0.46524971]]

Suma por columnas:
[2.86836302 1.37208098 1.54534134 1.78783876 1.546425  ]

In [ ]:
#4
arr = np.array([1, 2, 3, 4, 5])
arr_invertido = arr[::-1]
print("Array invertido:", arr_invertido)

Array invertido: [5 4 3 2 1]

In [ ]:
#5
identidad = np.identity(6)
matriz_resultado = 3 * identidad
print(matriz_resultado)

#El resultado es una matriz diagonal donde todos los elementos de la diagonal son 3 debido a que se multiplica 3x1 de la matriz identida

[[3. 0. 0. 0. 0. 0.]
 [0. 3. 0. 0. 0. 0.]
 [0. 0. 3. 0. 0. 0.]
 [0. 0. 0. 3. 0. 0.]
 [0. 0. 0. 0. 3. 0.]
 [0. 0. 0. 0. 0. 3.]]

In [ ]:
#6
array = np.random.randint(1, 101, size=15)
array_ordenado = np.sort(array)[::-1]
print("Array ordenado de mayor a menor:", array_ordenado)

Array ordenado de mayor a menor: [99 96 93 88 87 83 78 62 52 40 35 24  8  2  1]

In [ ]:
#7
array = np.random.randint(0, 101, size=30)
media = np.mean(array)
mediana = np.median(array)
desviacion = np.std(array)
print("Array:", array)
print("Media:", media)
print("Mediana:", mediana)
print("Desviación estándar:", desviacion)

Array: [ 13  65  48  67 100  43  43  95  62  72  99  98  14  35  29  40  85  71
  39  61  39  94  77  66  27  58  32  29   2  96]
Media: 56.63333333333333
Mediana: 59.5
Desviación estándar: 27.876493482661857

In [ ]:
#8
matriz = np.random.randint(0, 101, size=(6, 3))
promedios_filas = np.mean(matriz, axis=1)
indice_menor_promedio = np.argmin(promedios_filas)
matriz[indice_menor_promedio] = 0
print(matriz)

[[41 61 45]
 [74 68 92]
 [51 82 71]
 [49 73 31]
 [99 52 44]
 [ 0  0  0]]

In [ ]:
#9
matriz = np.random.randint(1, 11, size=(3, 4))
cumsum_filas = np.cumsum(matriz, axis=1)
print("Matriz original:")
print(matriz)
print("Suma por filas:")
print(cumsum_filas)

Matriz original:
[[9 5 4 3]
 [4 7 2 7]
 [6 9 5 9]]
Suma por filas:
[[ 9 14 18 21]
 [ 4 11 13 20]
 [ 6 15 20 29]]

In [ ]:
#10
arr = np.array([[10, 20, 30],
                [40, 50, 60],
                [70, 80, 90]])
diagonal = np.diag(arr)
print("Diagonal principal:", diagonal)

Diagonal principal: [10 50 90]

In [ ]:
# 2 punto
import pandas as pd
import numpy as np

df1 = pd.DataFrame( {'Nombre': ['Ana', 'Luis', 'Fernando', 'Camila', 'Andrés', 'Paula', 'Carlos', 'María', 'Jorge', 'Sofía', 'David', 'Valentina', 'Juan', 'Laura', 'Sebastián', 'Isabela', 'Mateo', 'Daniela', 'Santiago', 'Manuela'], 'Edad': [23, 25, 28, 22, 30, 27, 35, 24, 29, 26,31, 21, 33, 23, 32, 20, 34, 22, 28, 25],'Ciudad': ['Bogotá', 'Medellín', 'Cali', 'Barranquilla', 'Bucaramanga', 'Cartagena', 'Pereira', 'Manizales',
               'Santa Marta', 'Cúcuta', 'Ibagué', 'Neiva', 'Pasto', 'Armenia', 'Tunja', 'Popayán', 'Villavicencio', 'Sincelejo', 'Montería', 'Quibdó'],'Salario': [2200000, 1500000, 1700000, 2300000, 2600000, 2400000, 3000000, 2100000, 2800000, 2500000,2900000, 18000000, 3100000, 2200000, 3300000, 1500000, 1900000, 2300000, 3200000, 2400000] })
df1[df1['Salario'] > 2000000]

       Nombre  Edad        Ciudad   Salario
0         Ana    23        Bogotá   2200000
3      Camila    22  Barranquilla   2300000
4      Andrés    30   Bucaramanga   2600000
5       Paula    27     Cartagena   2400000
6      Carlos    35       Pereira   3000000
7       María    24     Manizales   2100000
8       Jorge    29   Santa Marta   2800000
9       Sofía    26        Cúcuta   2500000
10      David    31        Ibagué   2900000
11  Valentina    21         Neiva  18000000
12       Juan    33         Pasto   3100000
13      Laura    23       Armenia   2200000
14  Sebastián    32         Tunja   3300000
17    Daniela    22     Sincelejo   2300000
18   Santiago    28      Montería   3200000
19    Manuela    25        Quibdó   2400000

In [ ]:
url_csv = "https://www.datos.gov.co/resource/utgq-6fdm.csv"
df2 = pd.read_csv(url_csv)

print(df2.head(10))
print(df2.tail(5))

                                  nombre_diagnostico codigo_diagnostico  edad  \
0              LESION DE SITIOS CONTIGUOS DE LA PIEL               C448    42
1                       TUMOR MALIGNO DE LA PROSTATA               C61X    42
2           LESION DE SITIOS CONTIGUOS DE LA LARINGE               C328    43
3                          LEUCEMIA MIELOIDE CRONICA               C921    42
4  TUMOR MALIGNO DE LA NASOFARINGE, PARTE NO ESPE...               C119    42
5             TUMOR MALIGNO DEL TESTICULO DESCENDIDO               C621    42
6                  TUMOR MALIGNO DEL FUNDUS GASTRICO               C161    42
7  TUMOR MALIGNO DEL RIÑON, EXCEPTO DE LA PELVIS ...               C64X    41
8      LINFOMA DE CELULAS B, SIN OTRA ESPECIFICACION               C851    41
9                   TUMOR MALIGNO DEL RETROPERITONEO               C480    41

  sexo zona       regimen    a_o
0    M    U  CONTRIBUTIVO  2.019
1    M    U  CONTRIBUTIVO  2.019
2    M    U  CONTRIBUTIVO  2.019
3    M    U    SUBSIDIADO  2.019
4    M    U  CONTRIBUTIVO  2.019
5    M    U  CONTRIBUTIVO  2.019
6    M    U  CONTRIBUTIVO  2.019
7    M    U  CONTRIBUTIVO  2.019
8    M    U  CONTRIBUTIVO  2.019
9    M    U  CONTRIBUTIVO  2.019
                                    nombre_diagnostico codigo_diagnostico  \
995                         TUMOR MALIGNO DE EXOCERVIX               C531
996              TUMOR MALIGNO DE LA GLANDULA TIROIDES               C73X
997       TUMOR MALIGNO DEL TESTICULO, NO ESPECIFICADO               C629
998  LESION DE SITIOS CONTIGUOS DEL ANO, DEL CONDUC...               C218
999              TUMOR MALIGNO DE LA GLANDULA TIROIDES               C73X

     edad sexo zona       regimen    a_o
995    33    F    U  CONTRIBUTIVO  2.019
996    33    F    U  CONTRIBUTIVO  2.019
997    32    M    U  CONTRIBUTIVO  2.019
998    30    F    U  CONTRIBUTIVO  2.019
999    29    F    U  CONTRIBUTIVO  2.019

In [ ]:
df3 = pd.DataFrame({
    'Nombre': ['Ana', 'Luis', 'Camila', 'Andrés', 'Paula', 'Carlos', 'María', 'Juan', 'Laura', 'Santiago'],'Fecha de Nacimiento': ['1999-05-12', '2000-08-23', '1998-11-03', '1997-03-15', '2001-07-29' , '1996-09-10', '2002-01-25', '1995-12-19', '1999-04-04', '1998-06-30']})
df3['mes'] = df3['Fecha de Nacimiento'].dt.strftime('%B')

     Nombre Fecha de Nacimiento        mes
0       Ana          1999-05-12        May
1      Luis          2000-08-23     August
2    Camila          1998-11-03   November
3    Andrés          1997-03-15      March
4     Paula          2001-07-29       July
5    Carlos          1996-09-10  September
6     María          2002-01-25    January
7      Juan          1995-12-19   December
8     Laura          1999-04-04      April
9  Santiago          1998-06-30       June

In [ ]:
df4 = pd.DataFrame({
    'Nombre': ['Ana', 'Luis', 'Carlos', 'María', 'Jorge', 'Lucía', 'Pedro', 'Sofía', 'Andrés', 'Laura'],
    'Ciudad': ['Bogotá', 'Medellín', 'Cali', 'Bogotá', 'Cali', 'Medellín', 'Bogotá', 'Cali', 'Medellín', 'Bogotá'],
    'Salario': [2500000, 3200000, 2800000, 2600000, 2900000, 3100000, 2400000, 2700000, 3300000, 2550000]})
salario_promedio = df4.groupby('Ciudad')['Salario'].mean().reset_index()
print(salario_promedio)

     Ciudad    Salario
0    Bogotá  2512500.0
1      Cali  2800000.0
2  Medellín  3200000.0

In [ ]:
#los true
df1[df1['Edad'] < 30]

       Nombre  Edad        Ciudad   Salario
0         Ana    23        Bogotá   2200000
1        Luis    25      Medellín   1500000
2    Fernando    28          Cali   1700000
3      Camila    22  Barranquilla   2300000
5       Paula    27     Cartagena   2400000
7       María    24     Manizales   2100000
8       Jorge    29   Santa Marta   2800000
9       Sofía    26        Cúcuta   2500000
11  Valentina    21         Neiva  18000000
13      Laura    23       Armenia   2200000
15    Isabela    20       Popayán   1500000
17    Daniela    22     Sincelejo   2300000
18   Santiago    28      Montería   3200000
19    Manuela    25        Quibdó   2400000

In [ ]:
#los falsos
df1[df1['Edad'] > 30]

       Nombre  Edad         Ciudad  Salario
6      Carlos    35        Pereira  3000000
10      David    31         Ibagué  2900000
12       Juan    33          Pasto  3100000
14  Sebastián    32          Tunja  3300000
16      Mateo    34  Villavicencio  1900000

In [ ]:
df1['Menor_de_30'] = df1['Edad'] < 30

       Nombre  Edad         Ciudad   Salario  Menor_de_30
0         Ana    23         Bogotá   2200000         True
1        Luis    25       Medellín   1500000         True
2    Fernando    28           Cali   1700000         True
3      Camila    22   Barranquilla   2300000         True
4      Andrés    30    Bucaramanga   2600000        False
5       Paula    27      Cartagena   2400000         True
6      Carlos    35        Pereira   3000000        False
7       María    24      Manizales   2100000         True
8       Jorge    29    Santa Marta   2800000         True
9       Sofía    26         Cúcuta   2500000         True
10      David    31         Ibagué   2900000        False
11  Valentina    21          Neiva  18000000         True
12       Juan    33          Pasto   3100000        False
13      Laura    23        Armenia   2200000         True
14  Sebastián    32          Tunja   3300000        False
15    Isabela    20        Popayán   1500000         True
16      Mateo    34  Villavicencio   1900000        False
17    Daniela    22      Sincelejo   2300000         True
18   Santiago    28       Montería   3200000         True
19    Manuela    25         Quibdó   2400000         True

In [ ]:
df5 = pd.DataFrame( {'Nombre': ['Ana', 'Luis', 'Fernando', 'Camila', 'Andrés', 'Paula', 'Carlos', 'María', 'Jorge', 'Sofía', 'David', 'Valentina', 'Juan', 'Laura', 'Sebastián', 'Isabela', 'Mateo', 'Daniela', 'Santiago', 'Manuela'], 'Edad': [23, 25, 28, 22, 30, 27, 35, 24, 29, 26,31, 21, 33, 23, 32, 20, 34, 22, 28, 25],'Ciudad': ['Bogotá', 'Medellín', 'Cali', 'Barranquilla', 'Bucaramanga', 'Cartagena', 'Pereira', 'Manizales',
               'Santa Marta', 'Cúcuta', 'Ibagué', 'Neiva', 'Pasto', 'Armenia', 'Tunja', 'Popayán', 'Villavicencio', 'Sincelejo', 'Montería', 'Quibdó'],'Salario': [2200000, 1500000, np.nan, 2300000, np.nan, 2400000, 3000000, 2100000, 2800000, 2500000,2900000, 18000000, 3100000, np.nan, 3300000, 1500000, np.nan, 2300000, np.nan, 2400000] })
df5['Salario'].fillna(df5['Salario'].mean(), inplace=True)

print(df5)

       Nombre  Edad         Ciudad       Salario
0         Ana    23         Bogotá  2.200000e+06
1        Luis    25       Medellín  1.500000e+06
2    Fernando    28           Cali  3.486667e+06
3      Camila    22   Barranquilla  2.300000e+06
4      Andrés    30    Bucaramanga  3.486667e+06
5       Paula    27      Cartagena  2.400000e+06
6      Carlos    35        Pereira  3.000000e+06
7       María    24      Manizales  2.100000e+06
8       Jorge    29    Santa Marta  2.800000e+06
9       Sofía    26         Cúcuta  2.500000e+06
10      David    31         Ibagué  2.900000e+06
11  Valentina    21          Neiva  1.800000e+07
12       Juan    33          Pasto  3.100000e+06
13      Laura    23        Armenia  3.486667e+06
14  Sebastián    32          Tunja  3.300000e+06
15    Isabela    20        Popayán  1.500000e+06
16      Mateo    34  Villavicencio  3.486667e+06
17    Daniela    22      Sincelejo  2.300000e+06
18   Santiago    28       Montería  3.486667e+06
19    Manuela    25         Quibdó  2.400000e+06

/tmp/ipython-input-55-1394538332.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df5['Salario'].fillna(df5['Salario'].mean(), inplace=True)

In [ ]:
df6 = pd.DataFrame({
    'Nombre': ['Ana', 'Luis', 'Camila', 'Carlos', 'Paula'],
    'Edad': [23, 25, 27, 30, 22],
    'Nombre': ['Ana', 'Luis', 'Camila', 'Carlos', 'Paula'],
    'Edad': [23, 25, 27, 30, 22],
    'Nombre': ['Ana', 'Luis', 'Camila', 'Carlos', 'Paula'],
    'Edad': [23, 25, 27, 30, 22],
    'Ciudad': ['Bogotá', 'Medellín', 'Cali', 'Barranquilla', 'Cali'],
    'Salario': [2200000, 2500000, 2800000, 3000000, 2400000],})

print(df6)

   Nombre  Edad        Ciudad  Salario
0     Ana    23        Bogotá  2200000
1    Luis    25      Medellín  2500000
2  Camila    27          Cali  2800000
3  Carlos    30  Barranquilla  3000000
4   Paula    22          Cali  2400000

In [ ]:
df1_ordenado = df1.sort_values(by=['Ciudad', 'Edad'], ascending=[True, False])

print(df1_ordenado)

       Nombre  Edad         Ciudad   Salario  Menor_de_30   Salrrio
13      Laura    23        Armenia   2200000         True   2200000
3      Camila    22   Barranquilla   2300000         True   2300000
0         Ana    23         Bogotá   2200000         True   2200000
4      Andrés    30    Bucaramanga   2600000        False   2600000
2    Fernando    28           Cali   1700000         True   1700000
5       Paula    27      Cartagena   2400000         True   2400000
9       Sofía    26         Cúcuta   2500000         True   2500000
10      David    31         Ibagué   2900000        False   2900000
7       María    24      Manizales   2100000         True   2100000
1        Luis    25       Medellín   1500000         True   1500000
18   Santiago    28       Montería   3200000         True   3200000
11  Valentina    21          Neiva  18000000         True  18000000
12       Juan    33          Pasto   3100000        False   3100000
6      Carlos    35        Pereira   3000000        False   3000000
15    Isabela    20        Popayán   1500000         True   1500000
19    Manuela    25         Quibdó   2400000         True   2400000
8       Jorge    29    Santa Marta   2800000         True   2800000
17    Daniela    22      Sincelejo   2300000         True   2300000
14  Sebastián    32          Tunja   3300000        False   3300000
16      Mateo    34  Villavicencio   1900000        False   1900000

In [ ]:
df1_ordenado1 = df1.sort_values(by='Edad')

print(df1_ordenado1)

       Nombre  Edad         Ciudad   Salario  Menor_de_30   Salrrio
15    Isabela    20        Popayán   1500000         True   1500000
11  Valentina    21          Neiva  18000000         True  18000000
3      Camila    22   Barranquilla   2300000         True   2300000
17    Daniela    22      Sincelejo   2300000         True   2300000
13      Laura    23        Armenia   2200000         True   2200000
0         Ana    23         Bogotá   2200000         True   2200000
7       María    24      Manizales   2100000         True   2100000
1        Luis    25       Medellín   1500000         True   1500000
19    Manuela    25         Quibdó   2400000         True   2400000
9       Sofía    26         Cúcuta   2500000         True   2500000
5       Paula    27      Cartagena   2400000         True   2400000
2    Fernando    28           Cali   1700000         True   1700000
18   Santiago    28       Montería   3200000         True   3200000
8       Jorge    29    Santa Marta   2800000         True   2800000
4      Andrés    30    Bucaramanga   2600000        False   2600000
10      David    31         Ibagué   2900000        False   2900000
14  Sebastián    32          Tunja   3300000        False   3300000
12       Juan    33          Pasto   3100000        False   3100000
16      Mateo    34  Villavicencio   1900000        False   1900000
6      Carlos    35        Pereira   3000000        False   3000000

In [ ]:
#punto 3

df7 = pd.DataFrame({
'Producto': ['A', 'B', 'A', 'C', 'B', 'A'],
'Precio': [1200, 1500, 1300, 1000, 1600, 1250],
'Cantidad': [3, 2, 5, 1, 2, 4]})

df7['Ingreso'] = df7['Precio'] * df7['Cantidad']
print(df7)

ingresos_por_producto = df7.groupby('Producto')['Ingreso'].sum().reset_index()
print(ingresos_por_producto )

ingresos_ordenados = ingresos_por_producto.sort_values(by='Ingreso', ascending=False)
print(ingresos_ordenados)

  Producto  Precio  Cantidad  Ingreso
0        A    1200         3     3600
1        B    1500         2     3000
2        A    1300         5     6500
3        C    1000         1     1000
4        B    1600         2     3200
5        A    1250         4     5000
  Producto  Ingreso
0        A    15100
1        B     6200
2        C     1000
  Producto  Ingreso
0        A    15100
1        B     6200
2        C     1000

In [ ]:
np.random.seed(0)
productos = ['Arroz', 'Azúcar', 'Aceite', 'Café', 'Sal', 'Harina', 'Lentejas']
zonas = ['Norte', 'Sur', 'Este', 'Oeste', 'Centro', 'Noroccidente']

df10 = pd.DataFrame({
    'producto': np.random.choice(productos, size=1000),
    'precio': np.random.randint(1000, 6000, size=1000),
    'cantidad': np.random.randint(1, 11, size=1000),
    'dia': np.random.randint(1, 30, size=1000),
    'zona': np.random.choice(zonas, size=1000)})


ventas_por_zona = df10.groupby(['zona', 'producto'])['cantidad'].sum().reset_index()
producto_mas_vendido = ventas_por_zona.sort_values(['zona', 'cantidad'], ascending=[True, False])\
                                       .drop_duplicates(subset='zona', keep='first')
print("producto más vendido por zona:")
print(producto_mas_vendido)

producto más vendido por zona:
            zona producto  cantidad
1         Centro    Arroz       175
9           Este   Azúcar       183
20  Noroccidente      Sal       200
21         Norte   Aceite       187
28         Oeste   Aceite       142
37           Sur   Azúcar       159

In [ ]:
 ingresos_por_dia = df10.groupby('dia').apply(lambda x: (x['precio'] * x['cantidad']).sum()).reset_index(name='ganancia')
 print(ingresos_por_dia)

    dia  ganancia
0     1    625165
1     2    718510
2     3    589373
3     4    519999
4     5    638181
5     6    691598
6     7    896335
7     8    712141
8     9    776038
9    10    667944
10   11    588833
11   12    771666
12   13    545780
13   14    650824
14   15    597481
15   16    875850
16   17    797759
17   18    541325
18   19    774746
19   20    512688
20   21    737751
21   22    878253
22   23    760855
23   24    574630
24   25    542543
25   26    627442
26   27    566055
27   28    580230
28   29    686156

/tmp/ipython-input-129-646193023.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ingresos_por_dia = df10.groupby('dia').apply(lambda x: (x['precio'] * x['cantidad']).sum()).reset_index(name='ganancia')

In [ ]:
dia_max = ingresos_por_dia.loc[ingresos_por_dia['ganancia'].idxmax()]
print(dia_max)

dia              7
ganancia    896335
Name: 6, dtype: int64